*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 40px 30px;
    background-color: rgb(5, 7, 41);
    border-bottom: 5px solid yellow;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 1400px;
    border: 2px solid black;
}
.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}